button {
    height: 30px;
    margin: 10px;
    border-radius: 10px 5px 10px 5px;
}
button.current {
    box-shadow: 0 0 0 2px white,
    0 0 0 4px black;
}

.pageSelect {
    display: flex;
    align-items: center;
}

input {
    height: 30px;
    width: 800px;
    border-radius: 5px;
}