button {
    height: 30px;
    margin: 10px;
    border-radius: 10px 5px 10px 5px;
    width: 150px;
}
button.current {
    box-shadow: 0 0 0 2px white,
    0 0 0 4px black;
}

.pageSelect {
    display: flex;
    align-items: center;
}

input {
    height: 30px;
    width: 800px;
    border-radius: 5px;
}

#loadingSpinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto; /* Center the spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
